/* style.css */
a {
  color: #blue;
  text-decoration: none;
  padding: 10px 19px;

}

body {
  color: #03071e;
  background-color: #faedcb;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}

h1 {
  font-size: 30px;
  font-family: "Londrina Solid", cursive;
  color: #264653;
}

h2 {
  font-size: 21px;
  font-family: "Londrina Solid", cursive;
  color: #264653;
}

a:hover {
  color: #2a9d8f;
  transition: 0.2s;
}

li {
  margin: 0;
}

ul {
    margin: 0px;
}

  .container {
    width: 650px;
    margin: 0 auto;
  }

@media (max-width: 541px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card {
  background-color: #ffffff;
  margin: 50px;
  padding: 50px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.profile-pic {
  width: 10em;
  border-radius: 5em;
}

.button-red {
    color: red;
    background-color: #560bad;
    border-radius: 5px;

}

.list-inline {
  padding-left: 0px;
}

.icon-list {
  display: inline;
  list-style: none;
}

.icon-list > li {

}

.icon-list > a {
  color: grey;
  font-size: 35px;
  padding: 0px 0px;
}
